@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;900&family=Nunito:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 14px;
  scroll-behavior: smooth;
}
header {
  background-color: #f1f1f1;
  padding-top: 46px;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}
.logo {
  position: relative;
  padding: 0 12px 3px 0;
  line-height: 1;
  font-weight: 700;
  font-size: 32px;
  color: black;
}
.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}
.nav-menu {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
}
.nav-item a:hover {
  color: #606060;
}
.nav-link {
  color: black;
}
.nav-link.active {
  color: #606060;
}
.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header-content {
  max-width: 500px;
  margin-top: 124px;
}
.header-heading {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}
.header-content p {
  line-height: 2;
}

.header-img {
  object-fit: contain;
}
/* Selection services*/
.services {
  padding: 90px 0;
}
.services-row {
  display: flex;
  gap: 30px;
}
.services-card {
}
.services-card img {
  margin-bottom: 30px;
}
.services-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.services-card p {
  line-height: 2;
}
/* Selection portfolio*/
.portfolio {
  background-color: #f1f1f1;
  padding: 90px 0;
}
.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}
.title-1 {
  font-size: 34px;
  font-weight: 600;
}
.project {
  text-align: center;
}
.project + .project {
  margin-top: 90px;
}
.project-img {
  margin-bottom: 40px;
}
.project-title {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.project-title a {
  color: #000;
  text-decoration: underline;
}
/*Footer*/
.contacts {
  padding: 90px 0px 0px 0px;
  text-align: center;
}
.contacts-title {
  margin-bottom: 40px;
}
.title-1 {
}
.contacts-content {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 480px;
}
.contacts-button {
  margin-bottom: 80px;
}
.btn {
  background-color: #000;
  display: inline-block;
  padding: 7px 22px;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
.btn:hover,
.btn:focus {
  background-color: #777676;
}
.btn:active {
  background-color: #000;
  position: relative;
  top: 1px;
}
.contacts-social {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;
  margin-bottom: 41px;
}
.contacts-footer {
  color: #828282;
  padding-bottom: 0;
}
/*Hamburger menu*/
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}
@media screen and (max-width: 893px) {
  .header-heading {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .header-content {
    max-width: 450px;
    margin-top: 100px;
  }
  .header-content p {
    line-height: normal;
  }
  .services-card-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .services-card p {
    line-height: normal;
  }
  .title-1 {
    font-size: 24px;
  }
  .project-title {
    font-size: 14px;
  }
  .contacts-content {
    font-size: 14px;
  }
  .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 651px) {
  .header-content {
    max-width: 450px;
    margin-top: 30px;
  }
  .services-card-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .services-card p {
    font-size: 12px;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 27px;
    top: 50px  
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    align-items: center;
    height: 100%;
    gap: 0;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px ;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    scroll-behavior: none;
    overflow: hidden
  }
  .nav-item {
    gap: 16px;
  }
  .nav-menu.active {
    
    left: 0;
  }
}
@media screen and (max-width: 596px){
  .header-row{
    width: 100%;
    column-gap: 0;
    padding-right: 0px;
    display: inline;
    text-align: center;
    align-items: center;
  }
 .header-img{
  display: none;
 }
 .header-heading{
  width: 100%;
  text-align: center;
  
 }
 .header-heading p{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
 }
}
@media screen and (max-width: 385px){
  .services-row{
    display: flex;
    flex-direction: column;
    
  }
  .services-card img{
    margin: auto;
    align-items: center;
    padding-left: 35%;
   
  }
  .services-card h3{
    text-align: center;
  }
  .services-card p{
    text-align: center;
  }
  .contacts-social{
    display: flex;
    gap: 5%;
  }
}